In [1]:
import requests

In [2]:
import json

In [3]:
import pandas as pd
import numpy as np

In [4]:
census1 = requests.get("https://api.census.gov/data/timeseries/poverty/saipe/schdist?get=GEOID,LEAID,SD_NAME,GRADE,SAEPOVRAT5_17RV_PT&for=school%20district%20(unified):*&in=state:*&time=2018&key=2b07e25a69e507e080faa2c31f9da3b42d178b4e")
census1.status_code

200

In [5]:
census_poverty = json.loads(census1.content)
poverty = pd.DataFrame(data=census_poverty)
poverty.columns = poverty.iloc[0]
poverty = poverty[1:]
poverty['GEOID']= poverty['GEOID'].str.zfill(7)
poverty.rename(columns={'GEOID':'leaid'}, inplace=True)

In [6]:
poverty.columns.str.lower()
poverty.drop(columns='LEAID',inplace=True)
poverty.set_index('leaid', inplace=True)
poverty.head()

,SD_NAME,GRADE,SAEPOVRAT5_17RV_PT,time,state,school district (unified)
leaid,,,,,,
0100001,Fort Rucker School District,KG-12,12.4,2018,01,00001
0100003,Maxwell AFB School District,KG-12,15.2,2018,01,00003
0100005,Albertville City School District,KG-12,30.1,2018,01,00005
0100006,Marshall County School District,PK-12,26.6,2018,01,00006
0100007,Hoover City School District,KG-12,7.3,2018,01,00007

In [7]:
poverty_2018 = poverty[['SAEPOVRAT5_17RV_PT']]
poverty_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10863 entries, 0100001 to 7200030
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SAEPOVRAT5_17RV_PT  10863 non-null  object
dtypes: object(1)
memory usage: 169.7+ KB

In [8]:
poverty_2018.head()

0       SAEPOVRAT5_17RV_PT
leaid
0100001               12.4
0100003               15.2
0100005               30.1
0100006               26.6
0100007                7.3

In [9]:
poverty_2018.to_pickle('data/poverty_2018.pkl')